@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Luckiest+Guy&family=Merienda&display=swap');

/*
font-family: 'Luckiest Guy', cursive;
font-family: 'Merienda', cursive;
font-family: 'Amaranth', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: auto;
    background: url(bgpic.jpg);
}